.header {
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 100vw;
  top: 0px;
  margin: 15px;
  margin-top: 15px;
  z-index: 100;
}

.headerLogo {
  height: 24px;
  width: 100px;
  margin-top: 7px;
}

.headerCenter {
  flex: 1;
  display: flex;
  justify-content: center;
}

.headerCenter > .headerText {
  margin: 10px;
  text-transform: uppercase;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  padding-right: 10px;
}

.headerRight > .headerText {
  margin: 10px;
}

