.header {
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 100vw;
  top: 0px;
  margin: 0;
  padding: 0;
  z-index: 100;
  font-weight: normal;
}

.headerLogo {
  height: 24px;
  width: 100px;
  margin-top: 7px;
}
.headerCenter {
  flex: 1;
  display: flex;
  justify-content: center;
}

.headerCenter > .headerText {
  color: #171a20;
  margin: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  padding-right: 10px;
}

.headerRight > .headerText {
  color: #171a20;
  margin: 10px;
  text-decoration: none;
}

.menuIcon {
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
